* {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(to right,rgb(155, 155, 155), rgb(87, 171, 209));
}
table {
    width: 100%;
    height: 100%;
 }
 th {
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
 }
 td {
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
 }
 td:hover {
     border: 1px solid #fff;
     background:linear-gradient(to right, rgb(106, 111, 122), rgb(55, 146, 206));
    color: #fff;
    }
 th:hover {
    border: 1px solid #fff;
    background:linear-gradient(to right, rgb(106, 111, 122), rgb(55, 146, 206));
    color: #fff;
}
 img {
     width: 60px;
     height: 60px;
 }
h1 {
     font-size: 30px;
 }